.body {
    position:absolute;
}

.body table {
    border-collapse:collapse;
}

.body * {
    border:0px black solid;
}

.td_center, #sl2 {
    width:370px;
}

.block {
    height:15px;
    opacity: 0
}

.content {
    vertical-align:top;
    height:420px;    
}

div.img {
    display:none;
}

.td_img, .img, #idl2 {
    height:350px;
    width:350px;
}

.switcher img {
    height:50px;
    width:50px;
}

#idl1, #idl2, #idl3, #idl_price, #idl_title, .switcher  {
    vertical-align: middle;
    display: none;
}

#idl3 p {
    margin-top:80px;
}

#idl2, #idl_price, #idl_title {
    text-align: center;
}

#idl1 {
    text-align: right;
}

#title {
     width:180px;
    }

.proj {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:5px;
    padding-bottom:5px;
}

