@font-face {
    font-family: 'Simkai';
    src: local('Arimo'), url('arimo.woff2') format('woff2'), url('arimo.woff') format('woff'), url('arimo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Simkai';
    src: local('Arimo Italic'), local('Arimo-Italic'), url('arimoitalic.woff2') format('woff2'), url('arimoitalic.woff') format('woff'), url('arimoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Simkai';
    src: local('Arimo Bold'), local('Arimo-Bold'), url('arimobold.woff2') format('woff2'), url('arimobold.woff') format('woff'), url('arimobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Simkai';
    src: local('Arimo Bold Italic'), local('Arimo-BoldItalic'), url('arimobolditalic.woff2') format('woff2'), url('arimobolditalic.woff') format('woff'), url('arimobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/*@font-face {
 font-family: 'Simkai';
 src: url('simkai.ttf'); 
}*/

html,
body {
  height: 99%;
}

.wrapper {
    position:relative;
    min-height:100%;
    min-width:100%;
}

.header {
    height:calc((100vh/2 - 315px)*0.6);
}

.body {
    width:1250px;
    height:600px;
    /*margin-top:calc((100%/2 - 315px)*0.6);*/
    padding-bottom:45px;
    margin-left:calc(100%/2 - 625px);
}

.ref {
    position:absolute;
    min-width:100%;
    height:40px;
    bottom:5px;
}

.body table {
    border-collapse:collapse;
    margin:0 auto;
}

.body * {
    border:0px black solid;
    font-family: 'Simkai', 'Georgia', serif;
    letter-spacing: 0px;
}

.button .eNum {
    letter-spacing: 18px;
    font-size: 12pt;
}

#title .eNum {
    letter-spacing: 18px;
    font-size: 18pt;
}

.contacts #telephone{
    letter-spacing: 4px;
    font-size: 13pt;
}

.contacts #email{
    letter-spacing: 4px;
    font-size: 11pt;
    font-weight: bold;
}

.td_center, #sl2 {
    width:385px;
}

.block {
    height:15px;
    opacity: 0
}

.content {
    vertical-align:top;
    height:405px;    
}

div.img {
    display:none;
}

.td_img, .img, #idl2 {
    height:350px;
    width:350px;
}

.switcher img {
    height:50px;
    width:50px;
}

#slide {
    height:30px;
    width:30px;
}

#idl1, #idl2, #idl3, #idl_price, #idl_title, .switcher  {
    display: none;
}

#fl1 #fl2 #fl3 #sl2 #title{
    font-weight: bold;
}

#idl1 p {
    margin-top:120px;
}

#idl3 p{
    margin-top:60px;
}

.rub {
    height:12px;
    width:8px;
}

#idl2, #idl_price, #idl_title {
    text-align: center;
    width: 350px;
}

#idl1 {
    text-align: right;
}

#title {
    width:320px;
    }

.proj {
    vertical-align:middle;
}

.container_proj {
    margin:20px 0;
}

#captionR {
    text-align: left;
    width:350px;
    height:30px;
}

#captionL {
    text-align: right;
    width:350px;
    height:30px;
}

#fl1 {
    position: relative;
    left:20px
}

#fl3 {
    position: relative;
    right:27px
}

#proj-wrap {
    overflow: hidden;
    height:330px;
}

.proj-list-down {
    position:absolute;
    z-index:5;
    width:350px;
    height:50px;
    margin-top:-50px;
    background:linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

#next-proj {
    width:40px;
    height:20px;
}

#wrap-next-proj {
    margin:0 auto;
    width:40px;
    height:20px;
}
