@font-face {
 font-family: 'Simkai';
 src: url('simkai.ttf'); 
}

.body {
    position:absolute;
}

.body table {
    border-collapse:collapse;
}

.body * {
    border:0px black solid;
    font-family: 'Simkai', 'Georgia', serif;
    letter-spacing: -4px;
}

.eNum {
    letter-spacing: 0px;
}

.td_center, #sl2 {
    width:385px;
}

.block {
    height:15px;
    opacity: 0
}

.content {
    vertical-align:top;
    height:420px;    
}

div.img {
    display:none;
}

.td_img, .img, #idl2 {
    height:350px;
    width:350px;
}

.switcher img {
    height:50px;
    width:50px;
}

#idl1, #idl2, #idl3, #idl_price, #idl_title, .switcher  {
    vertical-align: middle;
    display: none;
}

#idl3 p, #idl1 p {
    margin-top:20px;
}

.rub {
    height:12px;
    width:8px;
}

#idl2, #idl_price, #idl_title {
    text-align: center;
}

#idl1 {
    text-align: right;
}

#title {
    width:180px;
    }

.proj {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:5px;
    padding-bottom:5px;
}

#captionR {
    text-align: right;
    width:350px;
    height:30px;
}

#captionL {
    text-align: left;
    width:350px;
    height:30px;
}
